.slide-up-enter-active, .slide-up-leave-active,
.slide-enter-active, .slide-leave-active {
  transition: all .3s ease;
}

.slide-up-enter, .slide-up-leave-to {
  transform: translateY(-20%) !important;
  opacity: 0;
}

.slide-enter, .slide-leave-to {
  transform: translateY(20%) !important;
  opacity: 0;
}